h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color : lightgray;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: darkred;
    position: fixed;
    left: 0px;
    top: 15px;
    z-index: 1;
}
h2{
    font-family: 'Itim', cursive;
    font-size: 40px;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.875rem;
    margin: 80px 0px auto;
}
div.box1{
    font-size: 1.875em;
    font-family: 'Itim', cursive;
    color: lightgray;
    background-color:darkslategray;
    position: relative;
}
div.box2{
    font-size: 30px;
    font-family: 'Itim', cursive;
    color: lightgray;
    background-color:darkslategray;
    position: relative;
}
div.box3{
    font-size: 1.875rem;
    font-family: 'Itim', cursive;
    color: lightgray;
    background-color:darkslategray;
    position: relative;
}
body{
    
    background-color: lightslategray;
    background-size: 100%;
    position: relative;
}